.time,
.title {
  display: inline-block;
}
.time {
  color: #adabac;
  flex-shrink:0;
}
.title {
  margin-left: 20px;
  color: #237bd9;
}
.list {
  li {
    width: 100%;
    list-style: none;
  }
  li > a {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content: flex-start;
    text-decoration: none;
    align-items:baseline;
  }
}
