@import '../themes.scss';
.header {
  width: 100%;
  height: 80px;
  background: $global-background-color;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 20px;
  .header-title {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    white-space: nowrap;
  }
}

.banner {
  position: relative;
}
